<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>Item Grabber</title>
    <script src="~/Scripts/jquery-1.9.0.js"></script>
    <script src="~/Scripts/myJs.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <link href="~/Content/MyStyles.css" rel="stylesheet" />


</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
