input[placeholder] {
    text-align: center;
}
#search {
    
    text-indent: -9999px;
    cursor: pointer;
    height: 32px;
    border: none;
        background: url(../../Content/img/search.png) no-repeat;
        width: 32px;
}
.block{
    margin-top:-15px;
}
#drop{
   
   background: transparent;
   width: 190px;
   padding: 5px 35px 5px 5px;
   font-size: 16px;
   border: 1px solid #ccc;
   height: 32px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
div.sweg input {
    text-indent: -9999px;
    cursor: pointer;
    height: 34px;
    border: none;
    margin-top:20px;
}
#head{
    margin-top:30px;
}
#loading{
margin:10px 0;
}
.next {
    background: url(../../Content/img/next2.png) no-repeat;
        width: 84px;
}

.prev {
    background: url(../../Content/img/prev2.png) no-repeat;
        width: 334px;
}
