@using ItemGrabber.Models
@using System.Globalization
@model  ItemInfo
@{
    Layout = null;
}

<tbody>

    @{decimal currency = Decimal.Parse(Model.currency, CultureInfo.InvariantCulture);}
    @foreach (Items i in Model.ItemList)
    {
        string price = "unknown, check the link";
        if (i.price != null)
        {
            price = (Math.Round(Decimal.Multiply(currency, Decimal.Parse(i.price, CultureInfo.InvariantCulture)), 2)).ToString();
        }
        <tr>
            <td><img src="@i.img" /></td>
            <td class="price">@price</td>
            <td>@i.title</td>
            <td><a href="@i.URL" target="_blank">View on Amazon</a></td>
        </tr>
    }
</tbody>









